@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline
}

body {
    line-height: 1;
    color: black;
    background: white
}

ol, ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q, blockquote {
    quotes: "" ""
}

q:before, q:after, blockquote:before, blockquote:after {
    content: ""
}

a img {
    border: none
}

.input, form input[type=text], form input[type=password], form textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    padding: .3em .4em;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #1f2d3e;
    font-size: 1.3em
}

.input:focus, form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
    outline: 0;
    -moz-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
    -webkit-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
    -o-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
    box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
    border-color: #81b1df;
    background-color: #fff
}

form input[type=text], form input[type=password] {
    margin: 0
}

form p {
    padding: 0;
    margin-bottom: .6em
}

form label {
    color: #6c7c9a;
    font-size: .9em;
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: .2em;
    display: inline-block;
    text-transform: uppercase
}

form textarea {
    height: 12em;
    font-size: 1.1em
}

input[type=submit] {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.2em;
    padding: 0.3em 1em;
    border-width: 1px;
    background-color: #134e89;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #81a2c3), color-stop(10%, #4b749e), color-stop(50%, #2d4660), color-stop(50%, #283f55), color-stop(100%, #395878));
    background-image: -moz-linear-gradient(#81a2c3, #4b749e 10%, #2d4660 50%, #283f55 50%, #395878);
    background-image: linear-gradient(#81a2c3, #4b749e 10%, #2d4660 50%, #283f55 50%, #395878);
    border-color: #192836;
    text-shadow: #030e19 0px 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
    -o-box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
    box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 1.2em
}

input[type=submit], input[type=submit]:visited {
    color: #fff
}

input[type=submit]:hover, input[type=submit]:focus {
    background-color: #11467c;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #769bbf), color-stop(10%, #466d94), color-stop(50%, #283f55), color-stop(50%, #23374b), color-stop(100%, #34516d));
    background-image: -moz-linear-gradient(#769bbf, #466d94 10%, #283f55 50%, #23374b 50%, #34516d);
    background-image: linear-gradient(#769bbf, #466d94 10%, #283f55 50%, #23374b 50%, #34516d);
    border-color: #15202c;
    text-shadow: #02070c 0px 1px 1px
}

input[type=submit]:hover, input[type=submit]:hover:visited, input[type=submit]:focus, input[type=submit]:focus:visited {
    color: #fff
}

input[type=submit]:active {
    background-color: #0f3f6e;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #283f55), color-stop(30%, #2b445c), color-stop(50%, #253a4e), color-stop(50%, #203244), color-stop(100%, #355371));
    background-image: -moz-linear-gradient(#283f55, #2b445c 30%, #253a4e 50%, #203244 50%, #355371);
    background-image: linear-gradient(#283f55, #2b445c 30%, #253a4e 50%, #203244 50%, #355371);
    border-color: #101821;
    text-shadow: #000 0px -1px -1px;
    -moz-box-shadow: #192836 0 0.08em 0.2em 1px inset;
    -webkit-box-shadow: #192836 0 0.08em 0.2em 1px inset;
    -o-box-shadow: #192836 0 0.08em 0.2em 1px inset;
    box-shadow: #192836 0 0.08em 0.2em 1px inset
}

input[type=submit]:active, input[type=submit]:active:visited {
    color: #fff
}

div.field_with_errors label {
    color: red;
    font-weight: bold
}

div.field_with_errors input {
    border: 3px solid red
}
