/**************************************
 * Default Styles
 *************************************/

$primary_color: #AAA;
$accent-gray: #AAA;
$background-primary: #fff;
$background-secondary: #F5F8F9;

body {
  background-color: $background-secondary;
  font: {
    family: 'Source Sans Pro', Arial;
    size: 14px;
  }
}
